<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midas Academy | Home</title>
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <div id="main">
        
        <% include ./partials/nav.ejs %>

        <div id="right">
            <div style="display: flex; flex-direction: column;" class="dashboard">
                <div class="students">
                    <h2>Student Information</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Reg. No.</th>
                                <th>Name</th>
                                <th>Batch</th>
                                <th>Fee Paid</th>
                                <th>Due Fees</th>
                                <th>Total Fee</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allusers.forEach(function(user){ %>
                                <tr>
                                    <td><%= user.__v %></td>
                                    <td><%= user.name %></td>
                                    <td><%= user.batch %></td>
                                    <td><%= user.paid_fees %></td>
                                    <td><%= user.due_fees %></td>
                                    <td><%= user.total_fees %></td>
                                    <td><a href="/manage-student"><button>Manage</button></a></td>
                                </tr>
                            <% }) %>
                            
                            <!-- Add more rows for other students -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>